.card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  z-index: 2;
}

.card-img-top{
    width: 100%;
    height: 30vh;
    object-fit: contain;
}
.carousel {
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
  }
  
  .carousel-inner img {
    height: 350px; /* or auto if you want full image height */
    object-fit:fill;
    width: 100%;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 10px;
  }
  
  .carousel-indicators [data-bs-target] {
    background-color: #0d6efd;
    width: 12px;
    height: 12px;
    border-radius: 50%;
  }
  
  @media (max-width: 768px) {
    .carousel-inner img {
      height: 250px;
    }
    .card-img-top
   {
    width: 100%;
   }
  }
  